.middle {
  min-height: 87%;
  text-align: center;
  background-color: #e9f3fc;

  #app {
    img {
      height: 200px;
      padding: 2%;
    }

    .form {
      padding-bottom: 2%;
    }

    #app-results {
      background-color: rgb(236, 247, 246);
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      padding-bottom: 2%;

      h2 {
        padding-top: 2%;
        color: #514aaf;
      }

      p {
        font-weight: bold;
        color: rgb(116, 145, 240);
        margin-bottom: 5px;
        margin-top: 5px;
      }
    }
  }
}
