.signup-middle {
  min-height: 87%;
  background-color: #e9f3fc;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  #app {
    .placeholder {
      .inputs {
        flex-direction: column;
      }
    }
  }
}
